<% if theTransactions.empty?%>
       	 No Transactions
<%else%>
<table class="table">
  <thead>
    <tr>
      <% if theAccounts %>
      <th>Account</th>
      <% end %>
      <th>Transaction date</th>
      <th>Start saldo</th>
      <th>End saldo</th>
      <th>Amount</th>
      <% if theCategories %>
      <th>Category</th>
      <th>Notes</th>
      <th>-</th>
      <% end %>
      <th class="col-md-3">Description</th>
      

    </tr>
  </thead>

  <tbody>
    <% theTransactions.each do |transaction| %>
      <tr>
      	<% if theAccounts %>
        <td><%= theAccounts[transaction.account_id].name %></td>
        <% end %>
        <td><%= transaction.transaction_date %></td>
        <td><%= transaction.start_saldo %></td>
        <td><%= transaction.end_saldo %></td>
        <td><%= transaction.amount %></td>
        
        <% if theCategories %>

        <td>
           <%= simple_form_for transaction, :remote => true do |f| %>
           	  <%= f.select :category_id,
           	                options_for_select(theCategories, transaction.category_id), 
           	                {},
           	                { "data-remote" => true, "data-url" => "/transactions/#{transaction.id}/updatecategory" } %>
           <% end %>
        </td>
        <td>
           <%= form_tag({:controller => "transactions", :action=> "updatefield" , :id => transaction.id, :field => "note"}, method: 'get', remote: true ) do %>
			<%= text_field_tag :note , transaction.note, maxlength: 50, size: 55 , class: 'form-control', onblur: "$(this).parent('form').submit();" %>
			<% end %>
           
        </td>
        <td><div id="update_select_<%=transaction.id%>"></td>
         <% end %>
        <td><%= transaction.description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
