<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>
  <dl class="dl-horizontal"> 
  <dt><strong>Budget:</strong>
  <dd><%= @category.budget %></dd>
  <dt><strong>Grupo:</strong>
  <dd><%= Grupo.find(@category.grupo_id).name %></dd>
</dl>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<h3>Rules</h3>
<table class="table">
<% rules = findRules(@category.id)
   rules.each do |rule|%>
   <tr>
   <td><%= rule.name %></td>
   <td><%= link_to 'Destroy', {:controller => "categories", :action=> "destroyrule",:id=> @category.id , :rule_id => rule.id}, data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
<tr>
<%= form_tag( {:controller => "categories", :action=> "newrule",:id=> @category.id },{:class=>"form-inline", :method=>:get}) do  %>
      <%= text_field_tag :name, 'new rule' %>
   <%= submit_tag "New",class: 'btn btn-default btn-mini btn-import' %>
<% end %>
</tr>
</table>



<% data=getCategoryHistoryAllAccounts(@category) 
   oldMonth = ''
   if @oldMonth
   	 oldMonth= @oldMonth.strftime('%b %Y')
   	end
%>
<h2>History from [<%=oldMonth%>-<%=@lastMonth.strftime('%b %Y')%>]</h2>

<% data.each do |accountName,values| %>
   <h3><%=accountName%></h3>
   <% if values.empty?%>
     <p>No values for this account </p>
   <%else%>
   <%= column_chart values, ytitle: "Euros", height: "200px", stacked: false %>
   <% end %>
<% end %>	                                           
