<!DOCTYPE html>
<html>
<head>
  <title>Sachyfin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="row">
    <div class="col-md-1">
      <h3 align="center">Finanzas</h3>
      <ul class="nav nav-pills nav-stacked">    
      <li class="nav-item"><%= link_to "Accounts" , accounts_path, class: "nav-link" %></li>  	
      <li class="nav-item"><%= link_to "Groups" , grupos_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Categorias" , categories_path, class: "nav-link" %></li>
      </ul>	
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>

</body>
</html>
